manifest {
    name = 'client-nf-workflow'
    author = 'Fulcrum Genomics'
    description = 'Workflow description'
    version = '0.1.0'
    nextflowVersion = '>=25.10.0' // Required for output-dir
}

plugins {
    id 'nf-schema@2.6.1' // Required for correct help & showHidden validation
}

params {
    // required workflow inputs
    input = null
}

profiles {
    local {
        process {
            cache = 'lenient'
            executor = 'local'
            resourceLimits = [ cpus: 8, memory: 32.GB, disk: 500.TB, time: 6.h ]
        }
    }

    docker {
        docker {
            enabled = true
        }
    }

    // use this profile when running on linux
    // alteratively, configure docker on linux so that it does not require running as root:
    // https://docs.docker.com/engine/install/linux-postinstall/
    linux {
        docker {
            runOptions = "--user root"
        }
    }
}


validation {
    help {
        enabled = true
        command = "nextflow run nf-fgsv --input input_file.tsv"
    }
    showHidden = false
}
